<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>imageQuality.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26156D931EA6181C005DA35A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26156DA71EA6181C005DA35A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26156DB21EA6181C005DA35A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
